.heading {
    color: #00b899;
    font-size: 3em;
    margin-left: .6em;
}

.checked {
    text-decoration: line-through;
}

.notChecked { 
     text-decoration: none;
}

.addTask {
    display: flex;
    align-items: center;
    margin: 20px;
}

.trashButton {
    background-color: transparent;
    color: #c72a5e;
}

.trashButton:hover {
    background-color: transparent;
    font-weight: bold;
}

@media (max-width: 474) {
    .dropShadow {
        box-shadow: 1px 1px 10px 1.5px #c8ebe5;
    }
}


@media (min-width: 475) {
    .dropShadow {
        box-shadow: 2px 2px 15px 5px #c8ebe5;
    }
}